
body {
  background-image: url('lab1_images/img2.webp'); /* Replace "your_image_url_here" with the URL of your image */
  background-size: cover; /* This ensures the background image covers the entire screen */
  background-position: center; /* This centers the background image */
  background-repeat: no-repeat; /* This prevents the background image from repeating */
}

.navbar{
    background-color: #fff;
    height: 60px;
    margin: 20px;
    border-radius: 30px;
    padding: o.5rem;


  }
  
 
  .navbar-brand img {
    width: 80px; /* Adjust width as needed */
    height: 40px; /* Maintain aspect ratio */
    margin-right: 20px;
/* Adjust right margin */
    padding: 0px; /* Adjust padding */
}
  
  .login-button {
    background-color: #009970;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    margin-right: 1rem;
    text-decoration: none;
    transition: 0.3s background-color;
  }
  
  .login-button:hover {
    background-color: #00b383;
  }
  
  .navbar .btn {
    margin-right: 1rem; /* Space for the button from the edge of the screen */
}

/* If you need additional styling for the cart icon */
.navbar .fas.fa-shopping-cart {
    font-size: 1.5rem; /* Example size, adjust as needed */
}
  
  .navbar-toggler {
    border: none;
    font-size: 1.25rem;
  }
  
  .navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
  }
  
  .nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
  }
  
  .nav-link:hover, .nav-link.active {
    color: #eee;
  }

  .btn-user img:hover{
    transform: translateY(-5px);
  }

  .btn-link img:hover{
    transform: translateY(-5px);
  }
 
  /* CSS
  
  /* CSS to trigger dropdowns on hover */
  @media (min-width: 992px) { /* Adjusting for Bootstrap's lg breakpoint */
    .navbar .nav-item.dropdown:hover .dropdown-menu {
      display: block;
    }
  }
  
  @media (min-width: 991px) {
    .nav-link::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: #ee997e;
      visibility: hidden;
      transition: 0.3s ease-in-out;
    }
  
    .nav-link:hover::before, .nav-link.active::before {
      width: 100%;
      visibility: visible;
    }
  }
   
  
  .heading {
    padding: 20px; /* Adjust as needed */
    margin: 20px 0;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto; /* Adjust as needed */
}



.section{
  text-align: center;
  font-size:medium;
  background-color: #666777;
  color: #fff;
  padding: 10px;
  margin-top: 20px; 
  border-radius: 30px;
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

/*navbar*/
.section1{
  background-color: #666777;
  margin-top: 18px;
  height:64px;
  border-radius: 32px;
  margin-left: 18px;
  margin-right: 18px;
}
/*carousel*/
.section2{
  margin-top: 100px;
}


.all{
  margin-left: 15px;
  margin-right: 15px;
}

.custom-card {
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn{
  background-color: #666777;
  border-radius: 25px;
  margin-left: 15px;
  
}

.price{
  margin-left: 25px;
}
.btn1{
  border: none;
  background-color: #fff;
}

.carousel{
  border-radius: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.row{
  border-radius: 30px;
  margin-left: 30px;
  margin-right: 10px;
}

.card-text{
  margin-top: 0px;
}