.navbar{
    background-color: #fff;
    height: 60px;
    margin: 20px;
    border-radius: 30px;
    padding: o.5rem;


  }
  
 
  .navbar-brand img {
    width: 80px; /* Adjust width as needed */
    height: 40px; /* Maintain aspect ratio */
    margin-right: 20px;
/* Adjust right margin */
    padding: 0px; /* Adjust padding */
}
  
  .login-button {
    background-color: #009970;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    margin-right: 1rem;
    text-decoration: none;
    transition: 0.3s background-color;
  }
  
  .login-button:hover {
    background-color: #00b383;
  }
  
  .navbar .btn {
    margin-right: 1rem; /* Space for the button from the edge of the screen */
}

/* If you need additional styling for the cart icon */
.navbar .fas.fa-shopping-cart {
    font-size: 1.5rem; /* Example size, adjust as needed */
}
  
  .navbar-toggler {
    border: none;
    font-size: 1.25rem;
  }
  
  .navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
  }
  
  .nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
  }
  
  .nav-link:hover, .nav-link.active {
    color: #eee;
  }

  .btn-user img:hover{
    transform: translateY(-5px);
  }

  .btn-link img:hover{
    transform: translateY(-5px);
  }
 
  /* CSS
  
  /* CSS to trigger dropdowns on hover */
  @media (min-width: 992px) { /* Adjusting for Bootstrap's lg breakpoint */
    .navbar .nav-item.dropdown:hover .dropdown-menu {
      display: block;
    }
  }
  
  @media (min-width: 991px) {
    .nav-link::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: #ee997e;
      visibility: hidden;
      transition: 0.3s ease-in-out;
    }
  
    .nav-link:hover::before, .nav-link.active::before {
      width: 100%;
      visibility: visible;
    }
  }
  
  .hero-section{
    background: url(lab1_images/img2.webp) no-repeat center;
    background-size: cover;
    width:100%;
    height: 100vh;
  
  }
  
  .hero-section::before{
    background-color: rgba(0,0,0 , 0.6);
    content:"";
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
  }
  
  .hero-section.container{
    height: 100vh;
    z-index:1;
    position:relative;
  }
  .hero-section.h1{
    font-size: 1.5sem;
  }
  .hero-section.h2{
    font-size: 1.2sem;
  }
  
  .heading {
    padding: 20px; /* Adjust as needed */
    margin: 20px 0;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto; /* Adjust as needed */
}