<link href="/css/home.css" rel="stylesheet">
  <link href="/css/header.css" rel="stylesheet">

  <div class="card">
    <div class="image-container">
        <img src="images/c1.webp" alt="Image 1">
        <img src="images/c2.webp" alt="Image 2">
        <img src="images/c3.webp" alt="Image 3">
        <img src="images/c4.webp" alt="Image 4">
        <img src="images/c5.webp" alt="Image 5">
        <img src="images/c6.webp" alt="Image 6">
    </div>
</div>

<div class="fixed-bottom-section">
    <div class="column">
        <h4>Customer Care</h4>
        <ul>
            <li><a href="/faqs">FAQs</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </div>
    <div class="column">
        <h4>Information</h4>
        <ul>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/contactus">Contact Us</a></li>
            <li><a href="/terms-conditions">Terms & Conditions</a></li>
        </ul>
    </div>
    <div class="column">
        <h4>About Us</h4>
        <ul>
            <li>Floor# 3rd, Plaza # 166-CCA, </li>
            <li>Block # CCA,
                Phase # 6, DHA </li>
            <li>Lahore , Pakistan</li>
        </ul>
    </div>
</div>