body {
  background-image: url('/images/img2.webp'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  color: #666777;
}

.heading {
  padding: 20px;
  margin: 20px 0;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.pagination .page-link {
  background-color: #666777; /* Change this to your desired button color */
  color: white;
  transition: background-color 0.3s, opacity 0.3s;
}

.pagination .page-link:hover {
  background-color: #0056b3; /* Darker shade for hover */
  opacity: 0.7; /* Make it a bit transparent on hover */
}

.pagination .page-item.active .page-link {
  background-color: rgb(46, 28, 89); /* Active page color */
  opacity: 1;
}

.pagination .page-item.active .page-link:hover {
  opacity: 1;
}

.cart-item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item:last-child {
  border-bottom: none;
}

.cart-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cart-item .product-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cart-item .product-info h6 {
  margin: 0;
  font-size: 14px;
}

.offcanvas-body .btn-outline-secondary {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: #fff; /* Lighten text color */
}

.offcanvas-body .btn-outline-secondary:hover {
  opacity: 0.7; /* Add transparency on hover */
}

.offcanvas-body .btn-outline-danger {
  padding: 0 10px;
  color: #fff; /* Lighten text color */
}

.offcanvas-body .btn-outline-danger:hover {
  opacity: 0.7; /* Add transparency on hover */
}

.offcanvas-body .quantity-display {
  width: 30px;
  text-align: center;
}

.border-top {
  border-top: 1px solid #ddd;
}

.section {
  text-align: center;
  font-size: medium;
  background-color: #666777;
  color: #fff;
  padding: 10px;
  margin-top: 20px;
  border-radius: 30px;
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.section2 {
  margin-top: 100px;
}

.all {
  margin-left: 15px;
  margin-right: 15px;
}

.custom-card {
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  cursor: pointer;
}

.custom-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-img-top {
  transition: transform 0.5s ease;
}

.custom-card:hover .card-img-top {
  transform: scale(1.1);
}

.btn {
  background-color: #666777;
  border-radius: 25px;
  margin-left: 15px;
  color: white; /* Lighten text color */
}

.btn:hover {
  opacity: 0.7; /* Add transparency on hover */
}

.price {
  margin-left: 25px;
}

.btn1 {
  border: none;
  background-color: #fff;
}

.carousel {
  border-radius: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.row {
  border-radius: 30px;
  margin-left: 30px;
  margin-right: 10px;
}

.card-text {
  margin-top: 0px;
}

.card {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: normal;
  overflow-x: auto;
}

.image-container img {
  flex: 0 0 auto;
  height: 100px;
  margin-right: 50px;
}
