body {
    background-image: url('/images/img2.webp'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0;
    padding: 0;
}

h2 {
    font-size: x-large;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
    color: #666777;
}

.container {
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 30px; 
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
    max-width: 60%; 
    margin: auto; 
    margin-top: 50px;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: rgba(255, 255, 255, 0.7); 
    font-weight: bold;
}

.table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3); 
}

.btn {
    border-radius: 20px;
    background-color: #666777;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    margin: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
}

.btn-info {
    background-color: #17a2b8;
}

.btn-warning {
    background-color: #ffc107;
}

.btn-danger {
    background-color: #dc3545;
}

.pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.page-item {
    display: inline;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
